<% content_for :title, @title %>
<%= render 'sound'%>
<div class="container">
	<%= render 'top'%>
<div class="pagination-centered ">
	 <%= image_tag @question , :class => "size border" %>
	</div>
		
         <div id="pictures_row" class="row pagination-centered">
          	
          <div class="span12 padding pagination-centered">
          	<% if @true_answer_number == 1 %>
          	 <%= image_tag @true_answer, :class => "true left size border" %>
          	<% elsif @answer =="white" %>
          	<%= content_tag :span,"white",  :class => "false left size border whiteblock" %>
          	 <% else%>
          	 <%= image_tag @answer,  :class => "false left size border"%>
          	<% end %>
          	
          	<% if @true_answer_number == 2 %>
          	 <%= image_tag @true_answer, :class => "true right size border" %>
          	 <% elsif @answer =="white" %>
          	<%= content_tag :span,"white",  :class => "false right size border whiteblock" %>
          	<% else %>
          	 <%= image_tag @answer,  :class => "false right size border"%>
          	<% end %>
          	</div>
          </div>
</div>
<%= render 'script_true_false'%>