<% content_for :title, "Description d'images dure" %>
<div id="content">
	<%=render "top" %>
        <div class="row-fluid">
		 <div class="span8 padding pull-right">
		 <div class="pagination-centered">
		 <%=image_tag @question.describe_image.url(:small),:id=>"questionImg", :class => "border" %>
		 </div>
		   <div id="imgSlots" class="pagination-centered padding">
		   </div>
        </div>
		
          <div id="imgPile" class="span4 hero-unit pagination-centered imgPile pull-left">
		  
          </div>

         
  </div>
   </div>


 <script type="text/javascript">
var correctImgs = 0;
$.preload( '/assets/mak_bon_describe.png' 
	);
$( init );

function init() {

  
  <% @answers.each do |answer| %>
  
   $( '<div class="dragImg"> <div class="border white sizeDivVeryEasy"> <%=image_tag answer.picto.url(:small) %> <p> <%=answer.name%></p></div> </div>').attr('class', '<%= answer.grammar_pictogramme.name %>').appendTo( '#imgPile' ).draggable( {
      containment: '#content',
      stack: '#imgPile div',
      revert: returnToYourPlace,
	  drag: handleImgDrag
    } );
    <% end %>
  
  
  <% array = ["sujet", "verbe","complement"] %>
  <% i = 0 %>
  
  <% @pictogrammes.each do |pictogramme| %>
    $('<div>' + '</div>').data( 'id', '<%= pictogramme.id %>' ).attr( 'class', '<%= array[i] %>').appendTo( '#imgSlots' ).droppable( {
      accept: '.<%= pictogramme.grammar_pictogramme.name %>',
      hoverClass: 'hovered',
      drop: handleImgDrop
    } );
	    <% i += 1 %>
    <% end %>
  

}

function returnToYourPlace(event, ui) {
                        $(this).data("uiDraggable").originalPosition = {
                            top : 0,
                            left : 0
                        };
                        return !event;
                    }
function handleImgDrop( event, ui ) {
		
        ui.draggable.addClass('dropped');
        ui.draggable.data('droppedin', $(this));
        $(this).droppable('disable');
        
        var slotId = $(this).data('id')
		var imgId = ui.draggable.data('id')
		
		
		if(slotId == imgId)
		{
			 ui.draggable.data('correct', $(this));
			correctImgs++
		}
        
        
        if(correctImgs == <%= @pictogrammes.size%>)
        {
			$("#questionImg").fadeOut(250,function(){
			$("#questionImg").attr({'src':'/assets/mak_bon_describe.png'});
			$("#questionImg").fadeIn(250);});
			setTimeout("reloadpage();",1500)
        }
		
}

function handleImgDrag( event, ui ) {
   if ($(this).data('droppedin')) {
            $(this).data('droppedin').droppable('enable');
            $(this).data('droppedin', null)
            $(this).removeClass('dropped')
            
            if ($(this).data('correct'))
            {
            	 $(this).data('correct', null)
            	 correctImgs = correctImgs - 1
            }
         
        }

}
function reloadpage()
	{
		Turbolinks.visit('');
	}


    </script>