<div class="metro panorama">
                  <div class="panorama-sections">  
                  	<div class="panorama-section tile-span-2"> 
                        <h2>Informations</h2>
                        <div class="tile-column-span-2">
          					<% @pages.each do |page| %>
          					<%= link_to (page.permalink), :class =>  "tile wide imagetext bg-color-" + COLORS.sample do %>
          					<div class ="image-wrapper">
          						<%= content_tag :span, :class => "icon " + page.icon do %>
          						<% end %>
          					</div>
          					<div class ="mytext">
          						<% if page.content.length > 140 %>
          						<%= page.content[0..140]+ "..." %>
          						<% else %>
          						<%= page.content %>
          						<% end %>         						
          					</div>
          					<%= content_tag :span, :class =>"app-label" do%>
          					<%= page.name.titleize %>
          					<% end %>
          					<% end %>
          					<% end %>
                           
                        </div> 
                     </div>
                      
                     <div class="panorama-section tile-span-2"> 
                        <h2>Quiz</h2>
                        <div class="tile-column-span-2">
                           <a class="tile widepeek" href="/home/quiz_two_pictures_menu">
                           	<div class="tile wide image">
                             <%= image_tag asset_path 'mak_2_images.png' %>
                            </div>
                            <%= content_tag :div, :class => "tile wide text bg-color-" + COLORS.sample do %>
                              	<div class="text-header">2 images</div>
                                 <div class="text4">Reconnaissance d'objets similaires parmi 2 choix.</div>
                              <% end %>
                           </a>
    						<a class="tile widepeek" href="/home/quiz_three_pictures_menu">
                           	<div class="tile wide image">
                             <%= image_tag asset_path 'mak_3_images.png' %>
                            </div>
                               <%= content_tag :div, :class => "tile wide text bg-color-" + COLORS.sample do %>
                              	<div class="text-header">3 images</div>
                                 <div class="text4">Reconnaissance d'objets similaires parmi 3 choix.</div>
                              <% end %>
                           </a>  
                        </div> 
                     </div>
    
                     <div class="panorama-section tile-span-2">
   
                        <h2>Descriptions d'images</h2>
                        <div class="tile-column-span-2">
                        	<a class="tile widepeek" href="/exercices/describe/very_easy">
                          
                           	<div class="tile wide image">
                             <%= image_tag asset_path 'mak_decris_image_simple.png' %>
                            </div>
                               <%= content_tag :div, :class => "tile wide text bg-color-" + COLORS.sample do %>
                              	<div class="text-header">Simple</div>
                                 <div class="text4">L'éléve décrit l'image avec l'aide de pictogrammes. Les 9 pictogrammmes proposés sont triés par sujets, actions et complements.</div>
                              <% end %>
                           </a>
    						<a class="tile widepeek" href="/exercices/describe/easy">
                           	<div class="tile wide image">
                             <%= image_tag asset_path 'mak_decris_image_dure.png' %>
                            </div>
                                <%= content_tag :div, :class => "tile wide text bg-color-" + COLORS.sample do %>
                              	<div class="text-header">Dure</div>
                                 <div class="text4">L'éléve décrit l'image avec l'aide de pictogrammes. Les 10 pictogrammmes proposés ne sont pas triés.</div>
                              <% end %>
                           </a>
                       </div>
                     </div> 
                  </div>
               </div>
               <%= render "arrow"%>
