<%= link_to "Makassis", root_path, :class => 'brand' %>
<div class="nav-collapse collapse">
	<ul class="nav">
		<!--------------
		-- 2 Images --
		-------------->
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quiz 2 images<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li class="divider"></li>
				<li class="nav-header">
					Photo
				</li>
				<%= drop_down_menu "Indentique", :two_identique, "photo2IDphotos", 2 %>
				<%= drop_down_menu "Photo & Photos", :two_different, "photo2DIFphotos", 2 %>
				<%= drop_down_menu "Photo & Cadre blanc", :two_white, "photo2Whitephotos", 2 %>
				<li class="divider"></li>
				<li class="nav-header">
					Dessin
				</li>
				<%= drop_down_menu "Indentique", :two_identique, "dessin2IDdessins", 2 %>
				<%= drop_down_menu "Photo & Dessins", :two_different, "photo2DIFdessins", 2 %>
				<%= drop_down_menu "Dessin & Cadre blanc", :two_white, "dessin2Whitedessins", 2 %>
				<li class="divider"></li>
				<li class="nav-header">
					Pictogramme
				</li>
				<%= drop_down_menu "Indentique", :two_identique, "pictogramme2IDpictogrammes", 2 %>
				<%= drop_down_menu "Photo & Pictogrammes", :two_different, "photo2DIFpictogrammes", 2 %>
				<%= drop_down_menu "Pictogramme & Cadre blanc", :two_white, "pictogramme2Whitepictogrammes", 2 %>				
				<li class="divider"></li>
				<li class="nav-header">
					Mots
				</li>
				<%= drop_down_menu "Photo & Mots", :two_different, "photo2DIFwords", 2 %>
			</ul>
		</li>
		<!--------------
		fin 2 Images
		-------------->

		<li class="dropdown">
			<!--------------
			-- 3 Images --
			-------------->
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quiz 3 images<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li class="divider"></li>
				<li class="nav-header">
					Photo
				</li>
				<%= drop_down_menu "Indentique", :three_identique, "photo3IDphotos", 3 %>
				<%= drop_down_menu "Photo & Photos", :three_different, "photo3DIFphotos", 3 %>
				<li class="divider"></li>
				<li class="nav-header">
					Dessin
				</li>
				<%= drop_down_menu "Indentique", :three_identique, "dessin3IDdessins",3 %>
				<%= drop_down_menu "Photo & Dessins", :three_different, "photo3DIFdessins", 3 %>
				<li class="divider"></li>
				<li class="nav-header">
					Pictogramme
				</li>
				<%= drop_down_menu "Indentique", :three_identique, "pictogramme3IDpictogrammes", 3 %>
				<%= drop_down_menu "Photo & Pictogrammes", :three_different, "photo3DIFpictogrammes", 3 %>
				<li class="divider"></li>
				<li class="nav-header">
					Mots
				</li>
				<%= drop_down_menu "Photo & Mots", :three_different, "photo3DIFwords", 3 %>
			</ul>
		</li>
		<!--------------
		fin 3 Images
		-------------->
		<li>
			<%= link_to "description trés simple", {:controller => "/exercices/describe", :action => :very_easy } %>
		</li>
		<li>
			<%= link_to "description simple", {:controller => "/exercices/describe", :action => :easy } %>
		</li>
		<li>
			<%= link_to "description dure", {:controller => "/exercices/describe", :action => :hard } %>
		</li>
		<% if user_signed_in? %>
		<li>
			<%= link_to('Deconnection', destroy_user_session_path, :method=>'delete') %>
		</li>
		<% else %>
		<li>
			<%= link_to('Indentification', new_user_session_path)  %>
		</li>
		<% end %>
		<% if user_signed_in? %>
		<li>
			<%= link_to('Editer Compte', edit_user_registration_path) %>
		</li>
		<% if current_user.has_role? :admin %>
		<li>
			<%= link_to('Admin', admin_root_path) %>
		</li>
		<% elsif current_user.has_role? :teacher%>
		<li>
			<%= link_to('Enseignant', admin_root_path) %>
		</li>
		<% end %>
		<% end %>
	</ul>
</div>
